@import './common';

@import 'utils/variables';
@import 'utils/general-styles';

@import './partials/header';

@import './partials/hero';
@import './partials/gallery';
@import './partials/customer-reviews';
@import './partials/contacts';

@import './partials/footer';
