body {
  font-family: $main-font;
  color: getColor('primary-text');
  font-size: 16px;
  background-color: getColor('bg-color');
  letter-spacing: 0.04em;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

.container {
  margin-left: auto;
  margin-right: auto;

  padding-left: 20px;
  padding-right: 20px;

  @media screen and (min-width: 320px) {
    width: 320px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;

    padding-left: 32px;
    padding-right: 32px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;

    padding-left: 16px;
    padding-right: 16px;
  }
}

.section {
  padding: 60px 0;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@mixin transition($property) {
  transition: $property 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@mixin fonts($fw, $fs, $lh, $ls, $tt: false) {
  font-weight: $fw;
  font-size: $fs;
  line-height: $lh;
  letter-spacing: $ls;
  @if $tt {
    text-transform: $tt;
  }
}
@mixin flexCentered() {
  display: flex;
  justify-content: center;
  align-items: center;
}

// buttons

// common styles

%btn {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 2px;
  border-style: solid;
  font-family: 'Montserrat';
  font-weight: 600;
  // padding: 5px 10px;
  cursor: pointer;
}

// colors

%border {
  color: #000000;
  background-color: transparent;
  border-color: #f8d24e;
  transition: background-color 250ms $timing-function,
    color 250ms $timing-function, border-color 250ms $timing-function;

  &:hover {
    border-color: #0a8817;
  }

  &:focus {
    border-color: #0a8817;
    color: #fcfcfc;
  }

  &:disabled {
    border-color: #ababab;
  }
}

%bg {
  color: #000000;
  background-color: #f8d24e;
  border: 0;
  transition: background-color 250ms $timing-function,
    color 250ms $timing-function;

  &:hover {
    background-color: #0a8817;
  }

  &:focus {
    background-color: #0a8817;
    color: #fcfcfc;
  }

  &:disabled {
    background-color: #ababab;
  }
}

%undrln {
  text-decoration: underline;
  color: #f8d24e;
  background-color: transparent;
  border: 0;
  font-weight: 600;

  @include transition(color);

  &:hover {
    color: #0a8817;
  }

  &:focus {
    color: #fcfcfc;
  }

  &:disabled {
    color: #ababab;
  }
}

// sizes

@mixin btn-sizes($w, $h, $rad, $fsize, $lh, $pdn) {
  width: $w;
  height: $h;
  border-radius: $rad;
  font-size: $fsize;
  line-height: $lh;
  padding: $pdn;
}

.btn__border {
  @extend %btn;
  @extend %bg;
  @include btn-sizes(108px, 38px, 8px, 12, 1.25, 11px 26px);
}

.btn-icon {
  fill: currentColor;
}
