<section class="section--advantage">
    <div class="container">
        <h2 class="visually-hidden">Advantage</h2>
     <ul class="advantage__list">
        <li class="advantage__item benefits">
                <p class="advantage__ammmount cow">721</p>
                <p class="advantage__desciption">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
        <li class="advantage__list-item benefits benefits-weight">
                <p class="advantage__ammmount weight">16KG</p>
                <p class="advantage__desciption">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
        <li class="advantage__list-item benefits benefits-ice">
                <p class="advantage__ammmount ice">84</p>
                <p class="advantage__desciption">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
     </ul>
    </div>
</section>