<section class="section--advantage">
  <div class="container">
    <h2 class="visually-hidden">Advantage</h2>
    <ul class="advantage__list list">
      <li class="advantage__item">
        <p class="advantage__ammount">721</p>
        <p class="advantage__desciption">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantage__item">
        <p class="advantage__ammount">16KG</p>
        <p class="advantage__desciption">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantage__item">
        <p class="advantage__ammount">84</p>
        <p class="advantage__desciption">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
