<div class="modal">
  <p class="modal__title">Buy now</p>
  <form>
    <ul class="modal-form">
      <li class="modal-form__unit">
        <div class="modal-form__checkbox">
          <img
            class="modal-form__image modal-form__image--green"
            srcset="
              ./images/modal_buy/img-1@1x.jpg 1x,
              ./images/modal_buy/img-1@2x.jpg 2x
            "
            src="./images/modal_buy/img-1@1x.jpg"
            alt="ice cream for modal"
            width="132"
            height="132"
            loading="lazy"
          />

          <label class="modal-form__unit-title">
            <input
              class="visually-hidden modal-form__input"
              type="checkbox"
              name="buy-now"
              value="ice cream"
            />

            ice cream
          </label>
        </div>
      </li>
      <li class="modal-form__unit">
        <label class="modal-form__choosing">
          <input type="checkbox" name="buy-now" value="ice coffee" />
          ice coffee
        </label>
      </li>
      <li class="modal-form__unit">
        <label class="modal-form__choosing">
          <input type="checkbox" name="buy-now" value="milkshake" />
          milkshake
        </label>
      </li>
    </ul>
    <ul>
      <li></li>
      <li></li>
    </ul>
    <button type="submit">submit</button>
  </form>
</div>

<!-- <div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button type="button" data-modal-close class="modal__modal-btn">
      <svg class="modal__close-cross" width="11" height="11">
        <use href="./images/icons.svg#close-cross"></use>
      </svg>
    </button>

    <p class="modal__title">Залиште свої дані, ми вам передзвонимо</p>

    <form>
      <ul class="modal-form">
        <li class="modal-form__unit">
          <label for="name" class="modal-form__label">Ім'я</label>
          <input type="text" name="name" id="name" class="modal-form__field" />
          <svg class="modal-form__icon">
            <use href="./images/icons.svg#person-form"></use>
          </svg>
        </li>

        <li class="modal-form__unit">
          <label for="tel" class="modal-form__label">Телефон</label>
          <input type="tel" name="tel" id="tel" class="modal-form__field" />
          <svg class="modal-form__icon">
            <use href="./images/icons.svg#phone-form"></use>
          </svg>
        </li>

        <li class="modal-form__unit">
          <label for="mail" class="modal-form__label">Пошта</label>
          <input type="email" name="mail" id="mail" class="modal-form__field" />
          <svg class="modal-form__icon">
            <use href="./images/icons.svg#email-form"></use>
          </svg>
        </li>
      </ul>

      <div class="modal-form__textarea-unit">
        <label for="comment" class="modal-form__label">Коментар</label>
        <textarea
          name="comment"
          id="comment"
          class="modal-form__textarea-field"
          placeholder="Введіть текст"
        ></textarea>
      </div>

      <label class="confirmation">
        <input class="confirmation__checkbox" type="checkbox" name="name" />

        <svg class="confirmation__check-icon" width="11" height="8">
          <use href="./images/icons.svg#check-mark"></use>
        </svg>

        Погоджуюся з розсилкою та приймаю
        <a href="#" class="confirmation__confirm-link">Умови договору</a>
      </label>

      <button type="submit" class="modal-form__submit-btn">Відправити</button>
    </form>
  </div>
</div> -->
