<!-- BACKDROP + MODAL WINDOW + CLOSE BTN -->

<div class="backdrop js-overlay-modal"></div>
<div class="buy-modal modal" data-modal="1">
  <button class="modal-close-btn js-modal-close">
    <svg class="btn-icon" width="20" height="20">
      <use href="./images/icons.svg#icon-close"></use>
    </svg>
  </button>

  <strong class="buy-modal__title">Buy now</strong>

  <!-- FORM -->

  <form class="buy-modal-form">
    <!-- CUSTOM CHECKBOXES -->

    <ul class="buy-checkbox-list list">
      <li class="buy-checkbox">
        <label class="buy-checkbox__label">
          <input
            class="visually-hidden buy-checkbox__input buy-checkbox__input--green"
            type="checkbox"
            name="buy-now"
            value="ice cream"
          />
          <span class="buy-checkbox__check buy-checkbox__check--green">
            <span>ice cream</span>
          </span>
          <span
            class="buy-checkbox__image-background buy-checkbox__image-background--green"
          ></span>

          <img
            class="buy-checkbox__image"
            srcset="
              ./images/modal_buy/img-1@1x.jpg 1x,
              ./images/modal_buy/img-1@2x.jpg 2x
            "
            src="./images/modal_buy/img-1@1x.jpg"
            alt="ice cream"
            width="132"
            height="132"
            loading="lazy"
          />
        </label>
      </li>

      <li class="buy-checkbox">
        <label class="buy-checkbox__label">
          <input
            class="visually-hidden buy-checkbox__input buy-checkbox__input--yellow"
            type="checkbox"
            name="buy-now"
            value="ice cream"
          />
          <span class="buy-checkbox__check buy-checkbox__check--yellow">
            <span>ice coffee</span>
          </span>
          <span
            class="buy-checkbox__image-background buy-checkbox__image-background--yellow"
          ></span>

          <img
            class="buy-checkbox__image"
            srcset="
              ./images/modal_buy/img-2@1x.jpg 1x,
              ./images/modal_buy/img-2@2x.jpg 2x
            "
            src="./images/modal_buy/img-2@1x.jpg"
            alt="ice coffee"
            width="132"
            height="132"
            loading="lazy"
          />
        </label>
      </li>

      <li class="buy-checkbox">
        <label class="buy-checkbox__label">
          <input
            class="visually-hidden buy-checkbox__input buy-checkbox__input--brown"
            type="checkbox"
            name="buy-now"
            value="ice cream"
          />
          <span class="buy-checkbox__check buy-checkbox__check--brown">
            <span>milkshake</span>
          </span>
          <span
            class="buy-checkbox__image-background buy-checkbox__image-background--brown"
          ></span>

          <img
            class="buy-checkbox__image"
            srcset="
              ./images/modal_buy/img-3@1x.jpg 1x,
              ./images/modal_buy/img-3@2x.jpg 2x
            "
            src="./images/modal_buy/img-3@1x.jpg"
            alt="milkshake"
            width="132"
            height="132"
            loading="lazy"
          />
        </label>
      </li>
    </ul>

    <!-- FORM INPUTS & TEXTAREA -->

    <ul class="buy-form-list list">
      <li class="buy-form-field">
        <input
          type="text"
          id="buy-user_name"
          class="buy-form-field__input"
          placeholder="U+200E"
          autocomplete="off"
          pattern="[a-zA-Z\s]{3,}"
          title="The entered information should contain only letters of the Latin alphabet in any case or a space."
          required
        />
        <label class="buy-form-field__label" for="buy-user_name"> Name </label>
      </li>

      <li class="buy-form-field">
        <input
          type="tel"
          name="phone_number"
          id="buy-user_phone"
          class="buy-form-field__input"
          placeholder="U+200E"
          autocomplete="off"
          pattern="[+]380[0-9]{9}"
          maxlength="13"
          title="The entered number should start with +380 and contain 13 characters."
          required
        />
        <label class="buy-form-field__label" for="buy-user_phone">
          Phone
        </label>
      </li>
    </ul>

    <div class="buy-textarea">
      <textarea
        name="comment"
        id="buy-comment"
        class="buy-textarea__field"
        autocomplete="off"
        placeholder="U+200E"
      ></textarea>
      <label for="buy-comment" class="buy-textarea__label">Comment</label>
    </div>

    <!-- SUBMIT BTN -->

    <button class="buy-btn" type="submit">Submit</button>
  </form>
</div>
