<section class="contacts">
  <div class="container">
    <h2 class="visually-hidden">Contacts</h2>
    <ul class="contacts__list list">
      <li class="contacts__item item-contacts">
        <p class="item-contacts__title">CAFE</p>

        <div class="item-contacts__location location">
          <p class="location__text">Chicago</p>
          <p class="location__text location__text--inverse">
            10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA
          </p>
        </div>

        <ul class="item-contacts__datetime datetime list">
          <li class="datetime__item">
            <p class="datetime__text">Monday - Friday</p>
            <p class="datetime__text datetime__text--inverse">
              06:00 AM - 10:00 PM
            </p>
          </li>
          <li class="datetime__item">
            <p class="datetime__text">Saturday - Sunday</p>
            <p class="datetime__text datetime__text--inverse">
              08:00 AM - 16:00 PM
            </p>
          </li>
        </ul>

        <ul class="item-contacts__contact contact list">
          <li class="contact__item">
            <a href="tel:+61(0)383766284" class="contact__link link">
              +61(0) 383 766 284</a
            >
          </li>
          <li class="contact__item">
            <a href="mailto:noreply@envato.com" class="contact__link link">
              noreply@envato.com</a
            >
          </li>
        </ul>
      </li>

      <li class="contacts__item item-contacts">
        <p class="item-contacts__title item-contacts__title--wider">
          FOOD TRUCK
        </p>

        <div class="item-contacts__location location">
          <p class="location__text">Los Angeles</p>
          <p class="location__text location__text--inverse">
            1003 Manhattan Ave, Manhattan Beach, CA 90263, USA
          </p>
        </div>

        <ul class="item-contacts__datetime datetime list">
          <li class="datetime__item">
            <p class="datetime__text">Monday - Friday</p>
            <p class="datetime__text datetime__text--inverse">
              06:00 AM - 10:00 PM
            </p>
          </li>
          <li class="datetime__item">
            <p class="datetime__text">Saturday - Sunday</p>
            <p class="datetime__text datetime__text--inverse">
              08:00 AM - 16:00 PM
            </p>
          </li>
        </ul>

        <ul class="item-contacts__contact contact list">
          <li class="contact__item">
            <a href="tel:+61(0)383766284" class="contact__link link">
              +61(0) 383 766 284</a
            >
          </li>
          <li class="contact__item">
            <a href="mailto:noreply@envato.com" class="contact__link link">
              noreply@envato.com</a
            >
          </li>
        </ul>
      </li>

      <li class="contacts__item item-contacts">
        <p class="item-contacts__title">CAFE</p>

        <div class="item-contacts__location location">
          <p class="location__text">New York</p>
          <p class="location__text location__text--inverse">
            726 Sterling Pl, Brooklyn, NY 11222, USA
          </p>
        </div>

        <ul class="item-contacts__datetime datetime list">
          <li class="datetime__item">
            <p class="datetime__text">Monday - Friday</p>
            <p class="datetime__text datetime__text--inverse">
              06:00 AM - 10:00 PM
            </p>
          </li>
          <li class="datetime__item">
            <p class="datetime__text">Saturday - Sunday</p>
            <p class="datetime__text datetime__text--inverse">
              08:00 AM - 16:00 PM
            </p>
          </li>
        </ul>

        <ul class="item-contacts__contact contact list">
          <li class="contact__item">
            <a href="tel:+61(0)383766284" class="contact__link link">
              +61(0) 383 766 284</a
            >
          </li>
          <li class="contact__item">
            <a href="mailto:noreply@envato.com" class="contact__link link">
              noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
    </ul>

    <ul class="contacts__modal-list list">
      <li class="contacts__modal-item">
        <button
          type="button"
          class="button contacts-button contacts-button--dark js-open-modal"
          data-modal="4"
        >
          Our Locations
          <svg class="contacts-button__icon btn-icon" width="12" height="12">
            <use href="./images/icons.svg#icon-arrow-small"></use>
          </svg>
        </button>
      </li>

      <li class="contacts__modal-item">
        <button
          type="button"
          class="button contacts-button contacts-button--light" data-modal-open
        >
          Franchise
          <svg
            class="contacts-button__icon btn-icon"
            data-modal-open
            width="12"
            height="12"
          >
            <use href="./images/icons.svg#icon-arrow-small"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
