<!-- BACKDROP + MODAL WINDOW + CLOSE BTN -->

<div class="backdrop js-overlay-modal"></div>
<div class="franchise-modal modal" data-modal="7">
  <button class="modal-close-btn js-modal-close">
    <svg class="btn-icon" width="20" height="20">
      <use href="./images/icons.svg#icon-close"></use>
    </svg>
  </button>

  <strong class="franchise-modal__title franchise-modal__title--mobile"
    >Thank you for your<br />interest in owning<br />an Ice Cream shop</strong
  >

  <strong class="franchise-modal__title franchise-modal__title--table"
    >Thank you for your<br />interest in owning an<br />Ice Cream shop</strong
  >

  <p class="franchise-text">
    Due to the overwhelming volume of franchise requests we are not accepting
    new franchisee applications at this time. Once the application process
    resumes, we will contact you for further information. Please fill out the
    contact information below and we will reach out for additional information.
    We appreciate your patience.
  </p>

  <!-- FORM -->

  <form class="franchise-modal-form">
    <ul class="franchise-form-list list">
      <li class="franchise-form-field">
        <input
          type="text"
          id="user_name"
          class="franchise-form-field__input"
          placeholder=" "
          autocomplete="off"
          pattern="[a-zA-Z\s]{3,}"
          title="The entered information should contain only letters of the Latin alphabet in any case or a space."
          required
        />
        <label class="franchise-form-field__label" for="user_name">
          Name
        </label>
      </li>

      <li class="franchise-form-field">
        <input
          type="tel"
          name="phone_number"
          id="user_phone"
          class="franchise-form-field__input"
          placeholder=" "
          autocomplete="off"
          pattern="[+]380[0-9]{9}"
          maxlength="13"
          title="The entered number should start with +380 and contain 13 characters."
          required
        />
        <label class="franchise-form-field__label" for="user_phone">
          Phone
        </label>
      </li>

      <li class="franchise-form-field">
        <input
          type="email"
          name="email"
          id="user_email"
          class="franchise-form-field__input"
          placeholder=" "
          autocomplete="off"
          pattern="^([a-z0-9_\.-]+)@([\da-z\.-]+)\.([a-z\.]{2,6})$"
          title="The entered email should match the format name@mail.net"
          required
        />
        <label class="franchise-form-field__label" for="user_email">
          Email
        </label>
      </li>
    </ul>

    <div class="franchise-textarea">
      <textarea
        name="comment"
        id="comment"
        class="franchise-textarea__field"
        autocomplete="off"
        placeholder=" "
      ></textarea>
      <label for="comment" class="franchise-textarea__label">Comment</label>
    </div>

    <button class="modal-franchise-submit-button" type="submit">Submit</button>
  </form>
</div>
