<section class="section-gallery background">
    <div class="fadein">
      <img 
          srcset="
          /src/images/gallery/img-1_1013.jpg  450w,
          /src/images/gallery/img-1_2026.jpg  450w,
          /src/images/gallery/img-1_1013.jpg  354w,
          /src/images/gallery/img-1_2026.jpg  354w,
          /src/images/gallery/img-1_1013.jpg  270w,
          /src/images/gallery/img-1_2026.jpg  270w
        "
        sizes="(min-width: 1200px) 550px, (min-width: 768px) 450px, (min-width: 480px) 450px, 100vw"
        src="/src/images/gallery/img-1_1013.jpg"
        alt=" blueberry icecream">

      <img 
          srcset="
          /src/images/gallery/img-2_1013.jpg  450w,
          /src/images/gallery/img-2_2026.jpg  450w,
          /src/images/gallery/img-2_1013.jpg  354w,
          /src/images/gallery/img-2_2026.jpg  354w,
          /src/images/gallery/img-2_1013.jpg  270w,
          /src/images/gallery/img-2_2026.jpg  270w
        "
        sizes="(min-width: 1200px) 550px, (min-width: 768px) 450px, (min-width: 480px) 450px, 100vw"
        src="/src/images/gallery/img-2_1013.jpg"
        alt="cherry icecream">


      <img 
          srcset="
          /src/images/gallery/img-3_1013.jpg  450w,
          /src/images/gallery/img-3_1013.jpg  450w,
          /src/images/gallery/img-3_1013.jpg  354w,
          /src/images/gallery/img-3_1013.jpg  354w,
          /src/images/gallery/img-3_1013.jpg  270w,
          /src/images/gallery/img-3_1013.jpg  270w
        "
        sizes="(min-width: 1200px) 550px, (min-width: 768px) 450px, (min-width: 480px) 450px, 100vw"
        src="/src/images/gallery/img-3_1013.jpg"
        alt="sweet icecream">
    </div>
</section>