<section class="hero">
  <div class="container">
    <div class="hero__description">
      <div class="hero__title-wrapper">
        <h1 class="hero__title">ice cream made with passion</h1>
        <ul class="hero__navigation-list list">
          <li class="hero__navigation-item">
            <a href="" class="hero__navigation-link link">Products</a>
          </li>
          <li class="hero__navigation-item">
            <a href="" class="hero__navigation-link link">How it’s made?</a>
          </li>
        </ul>
      </div>
      <ul class="market-place-list list">
        <li class="market-place-list__item">
          <p>16</p>
          <p>cafes</p>
        </li>
        <li class="market-place-list__item">
          <p>23</p>
          <p>food trucks</p>
        </li>
      </ul>
    </div>
    <div class="hero__content">
      <img
        src="./images/hero/ice-balls_450.jpg"
        alt="ice"
        width="225"
        height="225"
      />
      <a href="" class="hero__content-link link">
        <p class="hero__text">
          Do you want to experience the magical taste of childhood? Then try our
          unique flavors of ice cream!
        </p>
      </a>
    </div>
    <img
      src="./images/hero/ice-cream_177.png"
      alt="ice-cream"
      class="ice-cream"
      width="177"
    />
  </div>
</section>
