<section class="hero" id="hero">
  <div class="container">
    <!-- ------------hero top line------------ -->
    <div class="hero__description">
      <div class="hero__title-wrapper">
        <h1 class="hero__title">ice cream made with passion</h1>
        <ul class="hero__navigation-list list">
          <li class="hero__navigation-item">
            <a href="#products" class="hero__navigation-link button link"
              >Products</a
            >
          </li>
          <li class="hero__navigation-item">
            <a href="#about" class="hero__navigation-link underline"
              >How it’s made?</a
            >
          </li>
        </ul>
      </div>
      <!-- -------hidden before tablet mode ----- -->
      <ul class="outlet list">
        <li class="outlet__item">
          <p class="outlet__count">16</p>
          <p class="outlet__name">cafes</p>
        </li>
        <li class="outlet__item">
          <p class="outlet__count">23</p>
          <p class="outlet__name">food trucks</p>
        </li>
      </ul>
    </div>
    <!-- ---------hero bottom line ---------- -->

    <div class="hero__content">
      <picture>
        <source
          media="(min-width: 1200px)"
          srcset="
            ./images/hero/ice-balls_225.png 225w,
            ./images/hero/ice-balls_450.png 450w
          "
          sizes="(min-width: 1200px) 225px, 100vw"
        />

        <source
          media="(min-width: 768px)"
          srcset="
            ./images/hero/ice-balls_152.png 152w,
            ./images/hero/ice-balls_304.png 304w
          "
          sizes="(min-width: 768px) 152px, 100vw"
        />

        <img
          class="icecream-balls"
          src="./images/hero/ice-balls_225.png"
          alt="icecream balls"
        />
      </picture>

      <a href="" class="hero__content-link link">
        <p class="hero__text">
          Do you want to experience the magical taste of childhood? Then try our
          unique flavors of ice cream!
        </p>

        <svg class="arrow pulse" width="40" height="16">
          <use href="./images/icons.svg#icon-arrow-big"></use>
        </svg>
      </a>
    </div>
    <!-- ---------back-ground images---------- -->
    <picture>
      <source
        media="(min-width: 1200px)"
        srcset="
          ./images/hero/ice-cream_456.png 456w,
          ./images/hero/ice-cream_912.png 912w
        "
        sizes="(min-width: 1200px) 456px, 100vw"
      />

      <source
        media="(min-width: 768px)"
        srcset="
          ./images/hero/ice-cream_268.png 268w,
          ./images/hero/ice-cream_536.png 536w
        "
        sizes="(min-width: 768px) 268px, 100vw"
      />

      <source
        media="(max-width: 767px)"
        srcset="
          ./images/hero/ice-cream_177.png 177w,
          ./images/hero/ice-cream_356.png 356w
        "
        sizes="(max-width: 768px) 177px, 100vw"
      />

      <img
        class="bg-image-corn"
        src="./images/hero/ice-cream_177.png"
        alt="ice-cream"
      />
    </picture>

    <picture>
      <source
        media="(min-width: 1200px)"
        srcset="
          ./images/hero/dots_desk_1200.png 1200w,
          ./images/hero/dots_desk_2400.png 2400w
        "
        sizes="(min-width: 1200px) 1200px, 100vw"
      />
      <source
        media="(min-width: 768px)"
        srcset="
          ./images/hero/dots_tablet_768.png   768w,
          ./images/hero/dots_tablet_1536.png 1536w
        "
        sizes="(min-width: 768px) 768px, 100vw"
      />
      <source
        media="(max-width: 767px)"
        srcset="
          ./images/hero/dots_mobile_320.png 320w,
          ./images/hero/dots_mobile_640.png 640w
        "
        sizes="(max-width: 768px) 100vw"
      />
      <img
        class="bg-image-dots"
        src="./images/hero/dots_mobile_320.png"
        alt="dots"
      />
    </picture>
  </div>
  <button class="ufive_uptop"></button>
</section>
