<div class="backdrop js-overlay-modal"></div>
<div class="contacts__modal-map modal-map modal" data-modal="6">
  <button class="modal-close-btn js-modal-close">
    <svg class="modal-close-icon" width="20" height="20">
      <use href="./images/icons.svg#icon-close"></use>
    </svg>
  </button>

  <div class="modal-map__meta">
    <strong class="modal-map__text">Our Locations</strong>
  </div>

  <!-- <div class="modal-map__wrapper">
    <iframe
      class="iframe"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2566.6850644184256!2d36.364970899999996!3d49.96101!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x41270bc6dc25b91b%3A0x38fd5672a381dd41!2sKhladoprom!5e0!3m2!1sen!2sua!4v1672256837591!5m2!1sen!2sua"
      title="Google map link"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </div> -->

  <!-- <div class="modal-map__wrapper">
    <iframe
      class="iframe"
      title="Google map link"
      style="border: 0"
      scrolling="no"
      marginheight="0"
      marginwidth="0"
      loading="lazy"
      src="https://maps.google.com/maps?hl=en&amp;q=Khabarova%20St,%201%20Kharkiv+(Khladoprom)&amp;t=&amp;z=17&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"
    ></iframe>
  </div> -->

  <div class="modal-map__wrapper">
    <iframe
      class="iframe"
      title="Google map link"
      style="border: 0"
      loading="lazy"
      src="https://maps.google.com/maps?hl=en&amp;q=Khabarova%20St,%201%20Kharkiv+(Khladoprom)&amp;t=&amp;z=12&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"
    ></iframe>
  </div>


  <a
    href="https://goo.gl/maps/Aiw8kYUUAxRYCVMTA"
    target="_blank"
    rel="noopener noreferrer nofollow"
    class="link modal-map__link"
    >Open map</a
  >
</div>
