<div class="backdrop backdrop--hidden" data-modal>
  <div class="video-about-modal">
    <button class="modal-close-btn" data-modal-close>
      <svg class="btn-icon" width="20" height="20">
        <use href="./images/icons.svg#icon-close"></use>
      </svg>
    </button>
    <strong class="video-about-modal__title">How it's made?</strong>
    <div class="iframe-wrapper">
      <iframe
        class="video-about-modal__iframe"
        src="https://www.youtube.com/embed/M-h2v94eeAc"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      >
      </iframe>
    </div>
    <p class="franchise-text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et Lorem ipsum dolor sit amet, consectetur
      adipiscing elit, sed do eiusmod tempor incididunt ut labore et
    </p>
  </div>
</div>
