<div class="backdrop is-hidden franchise-modal" data-modal>
    <div class="modal franchise-modal-zone">
      <p class="franchise-modal__title">Thank you for your interest in owning an Ice Cream shop</p>
      <p class="franchise-modal__description">Due to the overwhelming volume of franchise requests we are not accepting new franchisee applications at this time. Once the application process resumes, we will contact you for further information. Please fill out the contact information below and we will reach out for additional information. We appreciate your patience.</p>
      <form class="franchise-modal-form" name="callback-form">
        <div class="franchise-modal-form__input">
          <input class="franchise-modal-form__input-element" type="text" name="name" id="name" placeholder="Name"/>
        </div>
        <div class="franchise-modal-form__input">
          <input class="franchise-modal-form__input-element" type="tel" name="phone-number" id="phone-number" placeholder="Phone"/>
        </div>
        <div class="franchise-modal-form__input">
          <input class="franchise-modal-form__input-element" type="email" name="e-mail" id="e-mail" placeholder="Email"/>
        </div>
        <div class="franchise-modal-form__input">
          <input class="franchise-modal-form__input-element" type="text" name="comment" id="comment" placeholder="Comment"/>
        </div>
        <button class="franchise-modal__button-submit" type="submit">Submit</button></form>
      <button class="modal__button-close" data-modal-close>
        <svg class="modal__svg-close" width="20px" height="20px">
          <use href="./images/icons.svg#icon-close"></use>
        </svg>
      </button>
    </div>
</div>

