<div class="backdrop is-hidden about-modal" data-modal>
    <div class="modal about-modal__zone">
      <p class="about-modal__title">How it’s made?</p>
      <iframe class="about__video"  src="https://www.youtube.com/embed/M-h2v94eeAc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <p class="about__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
      <button class="modal__button-close" data-modal-close>
        <svg class="modal__svg-close" width="20px" height="20px">
          <use href="./images/icons.svg#icon-close"></use>
        </svg>
      </button>
    </div>
</div>