<div class="backdrop js-overlay-modal"></div>
<div class="contacts__modal-map modal-map modal" data-modal="6">
  <button class="modal-close-btn js-modal-close">
    <svg class="modal-close-icon" width="20" height="20">
      <use href="./images/icons.svg#icon-close"></use>
    </svg>
  </button>

  <div class="modal-map__meta">
    <strong class="modal-map__text">Our Locations</strong>
  </div>

  <div class="modal-map__wrapper">
    <iframe
      class="iframe"
      title="Google map link"
      style="border: 0"
      loading="lazy"
      src="https://maps.google.com/maps?hl=en&amp;q=Khabarova%20St,%201%20Kharkiv+(Khladoprom)&amp;t=&amp;z=12&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"
    ></iframe>
  </div>

  <a
    href="https://goo.gl/maps/Aiw8kYUUAxRYCVMTA"
    target="_blank"
    rel="noopener noreferrer nofollow"
    class="link modal-map__link"
    >Open map</a
  >
</div>
