<section class="products" id="products">
  <div class="container">
    <strong class="products__title--label">100% natural</strong>
    <h2 class="products__title">products</h2>
    <ul class="products__cards list">
      <li class="products__item products__item--green">
        <h3 class="products__cards--title">ice cream</h3>
        <p class="products__cards--description">
          Soft ice cream with a delicate taste. Made with milk, cream, sugar and
          natural stabilizer
        </p>
        <button
          type="button"
          class="button__products js-open-modal"
          data-modal="2"
        >

          <svg width="40" height="16" class="arrow-black--to-green pulse">

            <use href="./images/icons.svg#icon-arrow-big"></use>
          </svg>
        </button>
      </li>
      <li class="products__item products__item--yellow">
        <h3 class="products__cards--title">ice coffee</h3>
        <p class="products__cards--description">
          Fragrant invigorating drink created from 100% natural ingredients
          without the use of preservatives and flavor enhancers
        </p>

        <button
          type="button"
          class="button__products js-open-modal"
          data-modal="3"
        >
          <svg width="40" height="16" class="arrow-black--to-yellow pulse">

            <use href="./images/icons.svg#icon-arrow-big"></use>
          </svg>
        </button>
      </li>
      <li class="products__item products__item--brown">
        <h3 class="products__cards--title">milkshakes</h3>
        <p class="products__cards--description">
          Sweet drinks based on milk and ice cream, supplemented with syrups,
          fruits, berries and other sweets of your choice
        </p>

        <button
          type="button"
          class="button__products js-open-modal"
          data-modal="4"
        >
          <svg width="40" height="16" class="arrow-black--to-brown pulse">

            <use href="./images/icons.svg#icon-arrow-big"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
