// BACKDROP + MODAL WINDOW

.buy-modal {
  position: fixed;

  overflow-y: scroll;
  display: flex;

  flex-direction: column;

  align-items: center;

  top: 50%;

  left: 50%;

  width: 280px;
  max-height: 999px;

  height: calc(100vh - 20px);

  z-index: 1050;

  opacity: 0;
  visibility: hidden;

  background-color: getColor('secondary-text');

  border: 2px solid getColor('accent');

  border-radius: 10px;

  transform: translate(-50%, -50%) scale(0);
  transition: transform 400ms $timing-function, opacity 400ms $timing-function,
    visibility 400ms $timing-function;

  padding: 28px 28px 29px;

  @media screen and (min-width: 768px) {
    width: 568px;
    max-height: 652px;
    height: calc(100vh - 30px);

    padding: 32px 43px;
  }

  .backdrop.active ~ & {
    transform: translate(-50%, -50%) scale(1);
  }
}

.buy-modal__title {
  font-family: $secondary-font;
  color: getColor('primary-text');

  line-height: calc(24 / 16);

  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    font-size: 20px;
    line-height: calc(28 / 20);
    margin-bottom: 40px;
  }
}

// FORM

.buy-modal-form {
  display: flex;

  flex-direction: column;

  align-items: center;
}

// CUSTOM CHECKBOXES

.buy-checkbox-list {
  display: flex;

  flex-direction: column;

  align-items: center;

  gap: 17px;

  margin-bottom: 32px;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;

    gap: 32px;

    margin-bottom: 40px;
  }
}

.buy-checkbox {
  display: flex;

  flex-direction: column;

  justify-content: center;
}

.buy-checkbox__label {
  position: relative;

  width: 132px;
  height: 199px;
  bottom: 0;

  cursor: pointer;

  font-weight: 700;
  line-height: calc(20 / 16);
  text-transform: uppercase;

  @media screen and (min-wiidth: 768px) {
    height: 198px;
  }
}

.buy-checkbox__check {
  position: absolute;

  bottom: 0;

  display: flex;
  flex-direction: column;

  justify-content: end;

  align-items: center;

  width: 132px;
  height: 136px;

  padding-bottom: 20px;

  border-radius: 15px;

  background-color: getColor('secondary-text');

  @media screen and (min-wiidth: 768px) {
    height: 135px;
  }
}

.buy-checkbox__check--green {
  border: 2px solid getColor('modal-border-green');
}

.buy-checkbox__check--yellow {
  border: 2px solid getColor('beige');
}

.buy-checkbox__check--brown {
  border: 2px solid getColor('brown');
}

.buy-checkbox__input--green:checked + .buy-checkbox__check--green,
.buy-checkbox__input--green:focus + .buy-checkbox__check--green {
  transition: background-color 250ms $timing-function;
  background-color: getColor('modal-border-green');
}

.buy-checkbox__input--green:not(:checked) + .buy-checkbox__check--green {
  transition: background-color 250ms $timing-function;
  background-color: transparent;
}

.buy-checkbox__input--yellow:checked + .buy-checkbox__check--yellow,
.buy-checkbox__input--yellow:focus + .buy-checkbox__check--yellow {
  transition: background-color 250ms $timing-function;
  background-color: getColor('beige');
}

.buy-checkbox__input--yellow:not(:checked) + .buy-checkbox__check--yellow {
  transition: background-color 250ms $timing-function;
  background-color: transparent;
}

.buy-checkbox__input--brown:checked + .buy-checkbox__check--brown,
.buy-checkbox__input--brown:focus + .buy-checkbox__check--brown {
  transition: background-color 250ms $timing-function;
  background-color: getColor('brown');
}

.buy-checkbox__input--brown:not(:checked) + .buy-checkbox__check--brown {
  transition: background-color 250ms $timing-function;
  background-color: transparent;
}

.buy-checkbox__image-background {
  position: absolute;

  top: 7px;

  width: 132px;
  height: 132px;

  border-radius: 50%;
}

.buy-checkbox__image {
  position: absolute;

  max-width: 132px;
  height: 132px;

  border-radius: 50%;
}

.buy-checkbox__image-background--green {
  background-color: rgba(156, 190, 143, 0.7);
  box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);
}

.buy-checkbox__image-background--yellow {
  background-color: rgba(248, 210, 78, 0.7);
  box-shadow: 0px 5.26027px 19.726px rgba(153, 114, 23, 0.25);
}

.buy-checkbox__image-background--brown {
  background-color: rgba(213, 117, 63, 0.7);
  box-shadow: 0px 5.26027px 19.726px rgba(0, 0, 0, 0.25);
}

// FORM INPUTS & TEXTAREA

.buy-form-list {
  display: flex;

  flex-direction: column;

  align-items: center;

  gap: 16px;

  margin-bottom: 16px;

  @media screen and (min-width: 768px) {
    gap: 20px;

    margin-bottom: 20px;
  }
}

.buy-form-field {
  position: relative;
}

.buy-form-field__input {
  width: 220px;
  height: 32px;

  border: 1px solid getColor('bg-color');
  border-radius: 10px;

  background-color: rgba(248, 210, 78, 0.1);

  outline: none;

  line-height: calc(17 / 12);
  font-size: 12px;

  padding: 8px 12px;

  transition: border-color 250ms $timing-function,
    background-color 250ms $timing-function;

  cursor: pointer;

  @media screen and (min-width: 768px) {
    width: 368px;
    height: 42px;

    padding: 11px 16px;

    font-size: 14px;

    line-height: calc(20 / 14);
  }
}

.buy-form-field__input::placeholder {
  color: transparent;
}

.buy-form-field__label {
  position: absolute;

  top: 8px;
  left: 12px;

  font-size: 12px;

  line-height: calc(16.8 / 12);

  color: getColor('primary-text');

  pointer-events: none;

  @media screen and (min-width: 768px) {
    top: 11px;
    left: 16px;

    font-size: 14px;

    line-height: calc(20 / 14);
  }
}

.buy-form-field__input:focus:required:invalid {
  border: 1px solid getColor('red');
  background-color: rgba(255, 0, 0, 0.1);
}

.buy-form-field__input:required:invalid + .buy-form-field__label:after {
  content: '*';
  position: absolute;

  top: 0;
  right: -7px;

  color: getColor('red');
}

.buy-form-field__input:focus + .buy-form-field__label,
.buy-form-field__input:not(:placeholder-shown) + .buy-form-field__label {
  font-size: 12px;
  line-height: calc(17 / 12);

  transform: translateY(-23px);

  transition: transform 250ms $timing-function;

  @media screen and (min-width: 768px) {
    transform: translateY(-30px);

    font-size: 14px;

    line-height: calc(20 / 14);
  }
}

.buy-textarea {
  position: relative;
  margin-bottom: 26px;

  @media screen and (min-width: 768px) {
    margin-bottom: 32px;
  }
}

.buy-textarea__field {
  display: block;
  border: 1px solid getColor('bg-color');
  border-radius: 10px;
  background-color: rgba(248, 210, 78, 0.1);
  outline: none;
  width: 220px;
  height: 65px;

  font-size: 12px;
  padding: 8px 12px;

  resize: none;

  outline: none;

  cursor: pointer;

  transition: border-color 250ms $timing-function;

  @media screen and (min-width: 768px) {
    width: 368px;
    height: 84px;

    font-size: 14px;

    line-height: calc(20 / 14);
  }
}

.buy-textarea__field::placeholder {
  color: transparent;
}

.buy-textarea__label {
  position: absolute;
  font-size: 12px;

  line-height: calc(16.8 / 12);
  color: getColor('primary-text');

  top: 8px;
  left: 12px;

  pointer-events: none;

  @media screen and (min-width: 768px) {
    top: 11px;
    left: 16px;

    font-size: 14px;

    line-height: calc(20 / 14);
  }
}

.buy-textarea__field:focus + .buy-textarea__label,
.buy-textarea__field:not(:placeholder-shown) + .buy-textarea__label {
  font-size: 12px;
  transform: translateY(-23px);
  transition: transform 250ms $timing-function;

  @media screen and (min-width: 768px) {
    transform: translateY(-30px);

    font-size: 14px;

    line-height: calc(20 / 14);
  }
}

.buy-btn {
  @extend %btn;
  @extend %bg;
  @include btn-sizes(112px, 42px, 10px, 12, 1.25, 12px 34px);
  color: getColor ('primaty-text');
  @media screen and (min-width: 768px) {
    @include btn-sizes(121px, 42px, 10px, 14, 1.23, 12px 34px);
    color: getColor ('primaty-text');
  }
}
