// contacts-list
.contacts {
  padding-bottom: 60px;

  @media screen and (min-width: 768px) {
    padding-bottom: 40px;
  }

  @media screen and (min-width: 1200px) {
    padding-bottom: 120px;
  }
}

.contacts__address {
  font-style: normal;
}

.contacts__list {
  @media screen and (max-width: 767.98px) {
    max-width: 440px;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    margin: -8px;
  }

  @media screen and (min-width: 1200px) {
    margin: -16px;
  }
}

.contacts__item {
  background-color: getColor('secondary-text');
  box-shadow: $contacts-box-shadow;
  border-radius: 24px;

  @media screen and (max-width: 767.98px) {
    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  @media screen and (min-width: 768px) {
    width: calc((100% - 6 * 8px) / 3);
    margin: 8px;
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 6 * 16px) / 3);
    margin: 16px;
  }
}

.item-contacts {
  padding-top: 40px;
  padding-bottom: 24px;
  padding-left: 32px;
  padding-right: 32px;

  font-weight: 500;
  font-size: 12px;

  @media screen and (min-width: 768px) {
    padding-bottom: 40px;
    padding-left: 24px;
    padding-right: 24px;

    font-size: 14px;
  }

  @media screen and (min-width: 1200px) {
    padding-left: 40px;
    padding-right: 40px;

    font-size: 16px;
  }

  &__title {
    display: inline-block;
    min-width: 80px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 21px;
    padding-right: 21px;
    margin-bottom: 20px;

    border-radius: 4px;
    line-height: 1.2;
    text-align: center;
    background-color: getColor('accent');

    @media screen and (min-width: 768px) {
      min-width: 73px;
      padding-left: 10px;
      padding-right: 10px;

      border-radius: 6px;
      font-size: 16px;
    }

    @media screen and (min-width: 1200px) {
      min-width: 76px;
      padding-left: 14px;
      padding-right: 14px;
    }
  }
}

.item-contacts__title--wider {
  @media screen and (min-width: 1200px) {
    padding-left: 16px;
    padding-right: 15px;
  }
}

.item-contacts__location::after,
.item-contacts__datetime::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  margin-top: 24px;
  margin-bottom: 24px;
  background-color: getColor('line-color');

  @media screen and (min-width: 768px) {
    margin-top: 32px;
    margin-bottom: 32px;
  }
}

.location__text {
  margin-bottom: 8px;

  line-height: 1.86;

  @media screen and (min-width: 768px) and (max-width: 1199.98px) {
    margin-bottom: 12px;
  }
}

.location__link {
  line-height: 1.83;
  color: getColor('brown');

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.datetime__item {
  & + & {
    margin-top: 8px;

    @media screen and (min-width: 1200px) {
      margin-top: 12px;
    }
  }
}

.datetime__text {
  line-height: 1.86;
  letter-spacing: normal;

  &--inverse {
    color: getColor('grey');
  }
}

.contact__item {
  & + & {
    margin-top: 6px;

    @media screen and (min-width: 768px) {
      margin-top: 4px;
    }
  }
}

.contact__link {
  line-height: 1.6;
  letter-spacing: normal;
  color: inherit;
  @include transition(color);

  @media screen and (min-width: 768px) {
    line-height: 1.5;
  }

  &:hover,
  &:focus {
    color: getColor('accent');
  }
}

// contacts__modal-list
.contacts__modal-list {
  text-align: center;
  margin-top: 20px;

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }

  @media screen and (min-width: 1200px) {
    margin-top: 60px;
  }
}

.contacts__modal-item {
  & + & {
    margin-top: 16px;

    @media screen and (min-width: 768px) {
      margin-top: 0px;
      margin-left: 16px;
    }
  }
}

// contacts-button
.contacts-button {
  @extend %btn;
  @include btn-sizes(196px, 42px, 10px, 14, 1.29, 12px 12px);
  display: inline-flex;
  letter-spacing: normal;
}

.contacts-button--dark {
  @extend %bg;
  color: getColor('primary-text');
}

.contacts-button--light {
  @extend %border;
}

.contacts-button__icon {
  margin-left: 4px;
}
