.slider {
  height: 466px;
  margin-bottom: 40px;
  position: relative;
  overflow: hidden;
  margin-top: -945px;

  @media screen and (min-width: 480px) {
    margin-top: -925px;
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 80px;
    margin-top: -945px;
  }

  @media screen and (min-width: 1200px) {
    height: 370px;
    margin-bottom: 100px;
    margin-top: -710px;
  }

  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  justify-content: center;
}
.slider__nav {
  display: flex;
  justify-content: center;
  width: 12px;
  height: 12px;
  margin: 0 18px;
  border-radius: 50%;
  z-index: 10;
  outline: 6px solid rgba(217, 217, 217, 1);
  outline-offset: -6px;
  box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  cursor: pointer;
  appearance: none;
  backface-visibility: hidden;
}
.slider__nav:checked {
  animation: check 0.4s linear forwards;
  color: #333;
}

.slider__nav:checked:nth-of-type(1) ~ .slider__inner {
  left: 0%;
}
.slider__nav:checked:nth-of-type(2) ~ .slider__inner {
  left: -100%;
}
.slider__nav:checked:nth-of-type(3) ~ .slider__inner {
  left: -200%;
}

.slider__inner {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 300%;
  height: 100%;
  transition: left 0s;

  @media screen and (min-width: 1200px) {
    transition: left 0.4s;
  }

  display: flex;
  flex-flow: row nowrap;
}
.slider__contents {
  text-align: center;
  display: flex;
  flex: 1;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.slider__photo {
  display: block;
  margin-bottom: 140px;
}

.slider__image {
  font-size: 2.7rem;
  color: #2196f3;
  border-radius: 50%;
  margin-bottom: 32px;
}

.slider__caption {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 20px;
  color: #131313;

  margin-bottom: 12px;

  @media screen and (min-width: 768px) {
    margin-bottom: 32px;
  }
}
.slider__txt {
  margin-bottom: 32px;
  font-size: 12px;
  line-height: 2.55;
  white-space: pre-line;

  color: #fcfcfc;

  background-color: rgba(132, 161, 120, 1);
  border-radius: 10px;
  padding: 35px 39px;
  text-align: center;
  letter-spacing: initial;

  @media screen and (min-width: 768px) {
    padding: 28px 80px 29px 80px;
    font-size: 14px;
    line-height: 1.86;
    border-radius: 24px;
    font-weight: 500;
    white-space: normal;
    letter-spacing: 0.04rem;
  }

  @media screen and (min-width: 1200px) {
    margin-left: 100px;
    margin-right: 100px;
    padding: 43px 109px;
    font-size: 16px;
  }
}

@-webkit-keyframes check {
  100% {
    outline-color: rgba(132, 161, 120, 1);
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  }
}

@keyframes check {
  100% {
    outline-color: rgba(132, 161, 120, 1);
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  }
}
