.slider {
    height: 466px;
    /*width: 280px;*/
    margin-bottom: 40px;

    @media screen and (min-width: 480px) {
      height: 466px;
      margin-bottom: 40px;
      margin-top: -835px;
    
    @media screen and (min-width: 768px) {
        height: 355px;
        margin-bottom: 80px;
       /* width: 705px; */
       margin-top: -730px;

    }

    @media screen and (min-width: 1200px) {
        height: 361px;
        margin-bottom: 100px;
       /* width: 1013px;*/ 
       margin-top: -570px;
    }

    position: relative;
    overflow: hidden;
    margin-top: -870px;

    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row nowrap;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .slider__nav {
    display: flex;
    justify-content: center;
    width: 12px;
    height: 12px;
    margin: 0 18px;
    border-radius: 50%;
    z-index: 10;
    outline: 6px solid rgba(217, 217, 217, 1);
    outline-offset: -6px;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
    cursor: pointer;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
  }
  .slider__nav:checked {
    -webkit-animation: check 0.4s linear forwards;
            animation: check 0.4s linear forwards;
            color:#333;
  }
  
  
  .slider__nav:checked:nth-of-type(1) ~ .slider__inner {
    left: 0%;
  }
  .slider__nav:checked:nth-of-type(2) ~ .slider__inner {
    left: -100%;
  }
  .slider__nav:checked:nth-of-type(3) ~ .slider__inner {
    left: -200%;
  }
  
  .slider__inner {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 300%;
    height: 100%;
    -webkit-transition: left 0.4s;
    transition: left 0.4s;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row nowrap;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
  }
  .slider__contents {
    width: 280px;
    height: 100%;
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-flex-flow: column nowrap;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  .slider__photo {
    display: block;
    margin-bottom: 140px;
  }
  
  .slider__image {
    font-size: 2.7rem;
    color: #2196F3;
    border-radius: 50%;
    margin-bottom: 32px;
  }
  
  .slider__caption {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #131313;

    margin-bottom: 12px;
    
    @media screen and (min-width: 768px) {
      margin-bottom: 32px;
    }
  
  }
  .slider__txt {
    margin-bottom: 32px;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 12px;
    line-height: 255%;
    /* or 31px */

    text-align:center;
    display: flex;
    align-items: center;

    color: #FCFCFC;
  
    background-color: rgba(132, 161, 120, 1);
    border-radius: 10px;
    width: 280px;
    height: 256px;
    padding: 35px 39px; 


    @media screen and (min-width: 768px) {
        width: 705px;
        height: 138px;
        padding: 28px 80px 29px 80px;
        font-size: 14px;
        line-height: 186%;
        /* or 26px */
        border-radius: 24px;
    }

    @media screen and (min-width: 1200px) {
        width: 968px;
        height: 138px;
        padding: 43px 74px 41px 73px;

        font-weight: 500;
        font-size: 16px;
        line-height: 186%;
        /* or 30px */
        letter-spacing: 0.04em;
        border-radius: 24px;
    }
  
    
    
  }
  
  @-webkit-keyframes check {
    100% {
      outline-color: rgba(132, 161, 120, 1);
      box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
    }
  }
  
  @keyframes check {
    100% {
      outline-color: rgba(132, 161, 120, 1);
      box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
    }
  }
