// BACKDROP + MODAL WINDOW

.franchise-modal {
  position: fixed;

  display: flex;

  flex-direction: column;

  align-items: center;

  top: 0;

  left: 50%;

  width: 280px;
  height: 674px;

  z-index: 1050;

  opacity: 0;
  visibility: hidden;

  background-color: getColor('secondary-text');

  border: 2px solid getColor('accent');

  border-radius: 10px;

  transform: translateX(-50%) scale(1);
  transition: transform 400ms $timing-function;

  padding: 28px 30px 28px 29px;

  @media screen and (min-width: 768px) {
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%) scale(1);

    width: 568px;
    height: 668px;

    padding: 32px 60px;
  }
}

.franchise-modal__title {
  font-family: $secondary-font;
  color: getColor('primary-text');

  line-height: calc(24 / 16);

  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    font-size: 20px;
    line-height: calc(28 / 20);
    margin-bottom: 24px;
  }
}

.franchise-text {
  font-size: 14px;
  line-height: calc(19.6 / 14);
  margin-bottom: 24px;
  letter-spacing: normal;

  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: calc(22 / 16);
    margin-bottom: 32px;
  }
}

// FORM

.franchise-modal-form {
  display: flex;

  flex-direction: column;

  align-items: center;
}

.franchise-form-list {
  display: flex;

  flex-direction: column;

  align-items: center;

  gap: 12px;

  margin-bottom: 12px;
}

.franchise-form-field {
  position: relative;
}

.franchise-form-field__input {
  width: 224px;
  height: 32px;

  border: 1px solid getColor('bg-color');
  border-radius: 10px;

  background-color: rgba(248, 210, 78, 0.1);

  outline: none;

  line-height: calc(16.8 / 12);
  font-size: 12px;

  padding: 8px 12px;

  transition: border-color 250ms $timing-function;

  cursor: pointer;

  @media screen and (min-width: 768px) {
    width: 368px;
    height: 42px;

    padding: 11px 16px;

    font-size: 14px;

    line-height: calc(19.6 / 14);
  }
}

.franchise-form-field__input::placeholder {
  color: transparent;
}

.franchise-form-field__label {
  position: absolute;

  top: 8px;
  left: 12px;

  font-size: 12px;

  line-height: calc(16.8 / 12);

  color: getColor('primary-text');

  pointer-events: none;

  @media screen and (min-width: 768px) {
    top: 11px;
    left: 16px;

    font-size: 14px;

    line-height: calc(20 / 14);
  }
}

.franchise-form-field__input:focus:required:invalid {
  border: 1px solid getColor('red');
  background-color: rgba(255, 0, 0, 0.1);
}

.franchise-form-field__input:required:invalid
  + .franchise-form-field__label:after {
  content: '*';
  position: absolute;

  top: 0;
  right: -7px;

  color: getColor('red');
}

.franchise-form-field__input:focus + .franchise-form-field__label,
.franchise-form-field__input:not(:placeholder-shown)
  + .franchise-form-field__label {
  font-size: 12px;
  line-height: calc(17 / 12);

  transform: translateY(-21px);

  transition: transform 250ms $timing-function;

  @media screen and (min-width: 768px) {
    transform: translateY(-25px);

    font-size: 13px;

    line-height: calc(20 / 14);
  }
}

.franchise-textarea {
  position: relative;
  margin-bottom: 24px;

  @media screen and (min-width: 768px) {
    margin-bottom: 32px;
  }
}

.franchise-textarea__field {
  display: block;
  border: 1px solid getColor('bg-color');
  border-radius: 10px;
  background-color: rgba(248, 210, 78, 0.1);
  outline: none;
  width: 224px;
  height: 65px;

  font-size: 12px;
  padding: 8px 12px;

  resize: none;

  outline: none;

  cursor: pointer;

  transition: border-color 250ms $timing-function;

  @media screen and (min-width: 768px) {
    width: 368px;
    height: 84px;

    font-size: 14px;

    line-height: calc(20 / 14);
  }
}

.franchise-textarea__field::placeholder {
  color: transparent;
}

.franchise-textarea__label {
  position: absolute;
  font-size: 12px;

  line-height: calc(16.8 / 12);
  color: getColor('primary-text');

  top: 8px;
  left: 12px;

  pointer-events: none;

  @media screen and (min-width: 768px) {
    top: 11px;
    left: 16px;

    font-size: 14px;

    line-height: calc(20 / 14);
  }
}

.franchise-textarea__field:focus + .franchise-textarea__label,
.franchise-textarea__field:not(:placeholder-shown)
  + .franchise-textarea__label {
  font-size: 12px;
  transform: translateY(-23px);
  transition: transform 250ms $timing-function;

  @media screen and (min-width: 768px) {
    transform: translateY(-26px);

    font-size: 13px;

    line-height: calc(20 / 14);
  }
}
