.hero {
  padding-top: 50px;
  height: 454px;

  @media screen and (min-width: 768px) {
    height: 349px;
    padding-top: 14px;
  }

  @media screen and (min-width: 1200px) {
    height: 591px;
    padding-top: 45px;
  }

  & .container {
    height: 100%;
    position: relative;
  }
}

// ------------ hero top line ---------

.hero__title {
  max-width: 247px;
  margin-bottom: 32px;

  font-family: $secondary-font;
  @include fonts(400, 26px, 1.26, 0.04em, uppercase);
  color: getColor('secondary-text');

  animation: slide-to-bottom 500ms ease-out 100ms both;

  @media screen and (min-width: 768px) {
    margin-bottom: 24px;
  }
  @media screen and (min-width: 1200px) {
    @include fonts(400, 38px, 1.27, 0.04em, uppercase);
    max-width: 367px;
    margin-bottom: 28px;
  }
}

.hero__navigation-list {
  display: inline-flex;
  align-items: center;
  margin-bottom: 12px;

  animation: slide-to-right 1000ms ease-in-out 400ms both;

  @media screen and (min-width: 1200px) {
    margin-bottom: 42px;
  }

  & .hero__navigation-item:first-child {
    margin-right: 12px;
  }
}

// -------------- hidden before tablet mode part ------

.hero__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.outlet {
  @media screen and (max-width: 767.9px) {
    display: none;
  }
  text-align: right;
  animation: slide-to-left 1000ms ease-in-out 400ms both;

  @media screen and (min-width: 1200px) {
    margin-top: 8px;
  }

  &__count {
    @include fonts(900, 28px, 1.21, 0.04em, uppercase);

    @media screen and (min-width: 1200px) {
      @include fonts(900, 46px, 1.21, 0.04em, uppercase);
    }
  }

  &__name {
    @include fonts(400, 8px, 1.2, 0.04em);
    color: getColor('secondary-text');

    @media screen and (min-width: 1200px) {
      @include fonts(400, 14px, 1.2, 0.04em);
    }
  }

  &__item:not(:last-child) {
    margin-bottom: 20px;
    @media screen and (min-width: 1200px) {
      margin-bottom: 16px;
    }
  }
}

// buttons
.hero__navigation-link {
  &.button {
    @extend %btn;
    @extend %border;
    @include btn-sizes(108px, 38px, 8px, 12, 1.25, 11px 26px);

    @media screen and (min-width: 1200px) {
      @include btn-sizes(134px, 42px, 8px, 14, 1.25, 12px 34px);
    }
  }

  &.underline {
    @extend %undrln;
    @include btn-sizes(auto, auto, 0px, 12, 1.25, 0px 0px);

    @media screen and (min-width: 1200px) {
      @include btn-sizes(auto, auto, 0px, 14, 1.25, 0px 0px);
    }
  }
}

// -------------- hero bottom line ------------------

.hero__content {
  @media screen and (max-width: 767.9px) {
    display: none;
  }

  display: flex;
  align-items: center;

  &-link:hover .arrow,
  &-link:focus .arrow {
    fill: getColor('btn-green');
  }

  &-link:hover .arrow.pulse {
    animation: pulse 1s infinite;
    animation-timing-function: linear;

    @keyframes pulse {
      0% {
        transform: scale(1);
      }
      50% {
        transform: scale(1.1);
      }
      100% {
        transform: scale(1);
      }
    }
  }
  animation: slide-to-top 400ms ease-out 1200ms both;
}

.icecream-balls {
  margin-right: 32px;
  @media screen and (min-width: 1200px) {
    margin-right: 20px;
  }
}

.hero__text {
  @include fonts(400, 12px, 1.4, 0.04em);
  max-width: 139px;
  color: getColor('secondary-text');
  margin-bottom: 12px;

  @media screen and (min-width: 1200px) {
    @include fonts(400, 14px, 1.4, 0.04em);
    margin-top: 45px;

    max-width: 200px;
    margin-bottom: 24px;
  }
}
.arrow {
  color: getColor('secondary-text');
  fill: getColor('secondary-text');
  @include transition(fill);
}

// ------------- back-ground images --------------
.bg-image-corn {
  display: block;

  position: absolute;
  bottom: 0;
  right: 20%;
  z-index: 3;

  animation: slide-to-left 1000ms ease-in-out 100ms both;

  @media screen and (min-width: 480px) {
    right: 60px;
  }

  @media screen and (min-width: 767.9px) {
    right: 92px;
  }
}

.bg-image-dots {
  display: block;
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

// -------- button back to up --------------
.ufive_uptop {
  position: fixed;
  display: block;
  box-sizing: border-box;
  height: 50px;
  width: 50px;
  border: none;
  background-color: getColor('accent');
  border-radius: 50%;
  bottom: 50px;
  right: 50px;
  margin-right: -30px;
  outline: none;
  opacity: 0;
  transition: opacity 0.3s ease, margin-right 0.5s ease-out;
  cursor: pointer;
  z-index: 100;
  @include transition(background-color);
  &:hover,
  &:focus {
    background-color: getColor('btn-green');
  }

  &:hover {
    animation: pulse 1s infinite;
    animation-timing-function: linear;

    @keyframes pulse {
      0% {
        transform: scale(1);
      }
      50% {
        transform: scale(1.1);
      }
      100% {
        transform: scale(1);
      }
    }
  }
}

.ufive_upview {
  transition: opacity 0.3s ease, margin-right 0.5s ease-out;
  margin-right: 0px;
  opacity: 0.6;
}

.ufive_uptop::before,
.ufive_uptop::after {
  content: '';
  position: absolute;
  height: 18px;
  width: 2px;
  background-color: getColor('bg-color');
  top: 16px;
}
.ufive_uptop::before {
  left: 18px;
  transform: rotate(45deg);
}
.ufive_uptop::after {
  right: 18px;
  transform: rotate(-45deg);
}

// ------------keyframes animation----------------

@keyframes slide-to-bottom {
  0% {
    opacity: 0;
    transform: translateY(-80px);
  }

  50% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-to-right {
  0% {
    opacity: 0;
    transform: translateX(-150px);
  }

  60% {
    opacity: 1;
    transform: translateX(0);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slide-to-left {
  0% {
    opacity: 0;
    transform: translateX(150px);
  }

  60% {
    opacity: 1;
    transform: translateX(0);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slide-to-top {
  0% {
    opacity: 0;
    transform: translateY(80px);
  }

  50% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
