.hero {
  padding-top: 50px;
  height: 454px;

  @media screen and (min-width: 768px) {
    height: 349px;
    padding-top: 14px;
  }

  @media screen and (min-width: 1200px) {
    height: 591px;
    padding-top: 45px;
  }

  & .container {
    height: 100%;
    position: relative;
  }
}

// hero top line

.hero__title {
  max-width: 247px;
  margin-bottom: 32px;

  font-family: $secondary-font;
  @include fonts(400, 26px, 1.26, 0.04em, uppercase);
  color: getColor('secondary-text');

  @media screen and (min-width: 768px) {
    margin-bottom: 24px;
  }
  @media screen and (min-width: 1200px) {
    @include fonts(400, 38px, 1.27, 0.04em, uppercase);
    max-width: 367px;
    margin-bottom: 28px;
  }
}

.hero__navigation-list {
  display: inline-flex;
  align-items: center;
  margin-bottom: 12px;

  @media screen and (min-width: 1200px) {
    margin-bottom: 42px;
  }

  & .hero__navigation-item:first-child {
    margin-right: 12px;
  }
}

// hidden before tablet mode part

.hero__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.outlet {
  @media screen and (max-width: 767.9px) {
    display: none;
  }
  text-align: right;
  // margin-top: 14px;

  @media screen and (min-width: 1200px) {
    margin-top: 8px;
  }

  &__count {
    @include fonts(900, 28px, 1.21, 0.04em, uppercase);

    @media screen and (min-width: 1200px) {
      @include fonts(900, 46px, 1.21, 0.04em, uppercase);
    }
  }

  &__name {
    @include fonts(400, 8px, 1.2, 0.04em);
    color: getColor('secondary-text');

    @media screen and (min-width: 1200px) {
      @include fonts(400, 14px, 1.2, 0.04em);
    }
  }

  &__item:not(:last-child) {
    margin-bottom: 20px;
    @media screen and (min-width: 1200px) {
      margin-bottom: 16px;
    }
  }
}

// buttons
.hero__navigation-link {
  &.button {
    @extend %btn;
    @extend %border;
    @include btn-sizes(108px, 38px, 8px, 12, 1.25, 11px 26px, 600);

    @media screen and (min-width: 1200px) {
      @include btn-sizes(134px, 42px, 8px, 14, 1.25, 12px 34px, 600);
    }
  }

  &.underline {
    @extend %undrln;
    @include btn-sizes(auto, auto, 0px, 12, 1.25, 0px 0px, 600);

    @media screen and (min-width: 1200px) {
      @include btn-sizes(auto, auto, 0px, 14, 1.25, 0px 0px, 600);
    }
  }
}

// hero bottom line

.hero__content {
  @media screen and (max-width: 767.9px) {
    display: none;
  }

  display: flex;
  align-items: center;

  &-link:hover .arrow,
  &-link:focus .arrow {
    fill: getColor('accent');
  }
}

.icecream-balls {
  margin-right: 32px;
  @media screen and (min-width: 1200px) {
    margin-right: 20px;
  }
}

.hero__text {
  @include fonts(400, 12px, 1.4, 0.04em);
  max-width: 139px;
  color: getColor('secondary-text');
  margin-bottom: 12px;

  @media screen and (min-width: 1200px) {
    @include fonts(400, 14px, 1.4, 0.04em);
    margin-top: 45px;

    max-width: 200px;
    margin-bottom: 24px;
  }
}
.arrow {
  color: getColor('secondary-text');
  fill: getColor('secondary-text');
  @include transition(fill);
}

// back-ground images
.bg-image-corn {
  display: block;

  position: absolute;
  bottom: 0;
  right: 20%;
  z-index: 3;
  @media screen and (min-width: 320px) {
    right: 60px;
  }

  @media screen and (min-width: 767.9px) {
    right: 92px;
  }
}

.bg-image-dots {
  display: block;
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}
