.video-about-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  max-width: 280px;
  width: 100%;
  min-height: 459px;

  z-index: 1050;

  opacity: 0;
  visibility: hidden;

  padding-top: 28px;
  padding-bottom: 28px;
  padding-left: 28px;
  padding-right: 28px;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 400ms $timing-function, opacity 400ms $timing-function,
    visibility 400ms $timing-function;

  border: 2px solid getColor('accent');
  border-radius: 10px;
  background-color: getColor('secondary-text');
  text-align: center;

  @media screen and (min-width: 768px) {
    max-width: 568px;
    max-height: 449px;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 60px;
    padding-right: 60px;
  }

  .backdrop.active ~ & {
    transform: translate(-50%, -50%) scale(1);
  }
}

.video-about-modal__title {
  font-family: 'Seymour One';
  font-weight: 400;
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: normal;
  margin-bottom: 20px;
  @media screen and (min-width: 768px) {
    font-size: 20px;
    line-height: calc(28 / 20);
  }
}

.video-about-modal__iframe {
  margin-bottom: 20px;
  width: 224px;
  height: 199px;

  @media screen and (min-width: 768px) {
    margin-bottom: 32px;
    width: 448px;
    height: 205px;
  }
}

.iframe-wrapper {
  border-radius: 10px;
  overflow: hidden;
  width: 224px;
  height: 199px;
  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    width: 448px;
    height: 205px;
    margin-bottom: 32px;
  }
}

.video-about-modal__text {
  width: 224px;
  text-align: left;
  font-size: 14px;
  line-height: calc(19.6 / 14);
  display: inline-block;

  @media screen and (min-width: 768px) {
    width: 448px;
    font-style: normal;
    font-size: 16px;
    line-height: calc(22.4 / 16);
  }
}
