.video-about-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  max-width: 280px;
  width: 100%;
  min-height: 459px;

  z-index: 1050;

  opacity: 0;
  visibility: hidden;

  padding-top: 28px;
  padding-bottom: 28px;
  padding-left: 28px;
  padding-right: 28px;
  transform: translate(-50%, -50%) scale(1);
  @include transition(transform);

  border: 2px solid getColor('accent');
  border-radius: 10px;
  background-color: getColor('secondary-text');
  text-align: center;

  @media screen and (min-width: 768px) {
    max-width: 568px;
    min-height: 449px;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 60px;
    padding-right: 60px;
  }
}

.video-about-modal__title {
  font-family: 'Seymour One';
  font-weight: 400;
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: normal;

  @media screen and (min-width: 768px) {
    font-size: 20px;
    line-height: calc(28 / 20);
  }
}

.video-about-modal__iframe {
  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    margin-bottom: 32px;
  }
}

.iframe-wrapper {
  border-radius: 10px;
  overflow: hidden;
}

.franchise-text {
  font-size: 14px;
  line-height: calc(19.6 / 14);

  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: calc(22.4 / 16);
  }
}
