// BACKDROP + MODAL WINDOW

.products-modal {
  position: fixed;

  overflow-y: scroll;

  display: flex;

  flex-direction: column;

  align-items: center;

  top: 50%;

  left: 50%;

  width: 280px;
  max-height: 968px;

  height: calc(100vh - 20px);

  z-index: 1050;

  opacity: 0;
  visibility: hidden;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 400ms $timing-function;

  background-color: getColor('secondary-text');

  border: 2px solid getColor('accent');
  border-radius: 10px;

  padding: 28px 20px;

  @media screen and (min-width: 768px) {
    width: 568px;
    max-height: 996px;
    height: calc(100vh - 30px);

    padding: 32px 40px;
  }
}

.products-modal__title {
  font-family: $secondary-font;
  color: getColor('primary-text');

  text-align: center;

  font-size: 20px;

  line-height: calc(28 / 20);

  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    font-size: 20px;
    line-height: calc(28 / 20);
    margin-bottom: 24px;
    white-space: normal;
  }
}

// PICTURE STYLES

.products-modal-image {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  width: 132px;
  min-height: 132px;

  margin-bottom: 30px;

  @media screen and (min-width: 768px) {
    margin-bottom: 31px;
  }
}

.products-modal-image__image {
  position: absolute;
  border-radius: 50%;
}

.products-modal-image__picture-bg {
  position: absolute;

  top: 7px;

  width: 132px;
  height: 132px;

  border-radius: 50%;
}

.products-modal-image__picture-bg--green {
  background-color: rgba(156, 190, 143, 0.7);
  box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);
}

.products-modal-image__picture-bg--yellow {
  background-color: rgba(248, 210, 78, 0.7);
  box-shadow: 0px 5.26027px 19.726px rgba(155, 155, 40, 0.25);
}

.products-modal-image__picture-bg--brown {
  background-color: rgba(213, 163, 63, 0.7);
  box-shadow: 0px 5.26027px 19.726px rgba(128, 81, 37, 0.25);
}

// PRODUCTS-COMPOSITION STYLES
.products-modal-composition {
  display: flex;

  justify-content: center;

  gap: 10px;

  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    margin-bottom: 48px;
  }
}

.products-modal-composition__unit {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 53px;
  height: 72px;

  border-radius: 40px;

  @media screen and (min-width: 768px) {
    width: 65px;
    height: 90px;
  }
}

.products-modal-composition__unit--green {
  border: 2px solid getColor('composition-color');
}

.products-modal-composition__unit--yellow {
  border: 2px solid getColor('beige');
}

.products-modal-composition__unit--brown {
  border: 2px solid getColor('brown');
}

.products-modal-composition__circle {
  position: absolute;

  display: flex;
  justify-content: center;
  align-items: center;

  top: -1px;

  width: 43px;
  height: 43px;
  border-radius: 50%;

  @media screen and (min-width: 768px) {
    width: 53px;
    height: 53px;
  }
}

.products-modal-composition__circle-green {
  background-color: getColor('composition-color');
  box-shadow: 0px 6px 20px rgba(10, 136, 23, 0.25);
}

.products-modal-composition__circle-yellow {
  background-color: getColor('beige');
  box-shadow: 0px 6px 20px rgba(155, 155, 40, 0.25);
}

.products-modal-composition__circle-brown {
  background-color: getColor('brown');
  box-shadow: 0px 6px 20px rgba(128, 81, 37, 0.25);
}

.products-modal-composition__amount {
  font-size: 10px;
  font-weight: 500;

  line-height: calc(28 / 10);
  color: getColor('primary-text');

  @media screen and (min-width: 768px) {
    font-size: 12px;

    line-height: calc(28 / 12);
  }
}

.products-modal-composition__name-container {
  position: absolute;

  bottom: 6px;

  width: 35px;

  text-align: center;

  @media screen and (min-width: 768px) {
    bottom: 12px;

    width: 50px;
  }
}

.products-modal-composition__name {
  overflow: hidden;
  text-overflow: ellipsis;

  font-size: 10px;
  line-height: calc(12.19 / 10);
  letter-spacing: normal;

  @media screen and (min-width: 768px) {
    font-size: 12px;

    line-height: calc(15 / 12);
    letter-spacing: 0.01em;
  }
}

// INGREDIENTS

.products-modal-ingredients {
  display: flex;
  flex-direction: column;

  align-items: center;

  width: 100%;

  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    margin-bottom: 48px;
  }
}

.products-modal-ingredients__title {
  font-size: 20px;

  font-weight: 500;

  line-height: calc(28 / 20);

  margin-bottom: 24px;
}

.products-modal-ingredients__table {
  display: flex;
  justify-content: space-between;
  width: inherit;
}

.products-modal-ingredients__column {
  display: flex;
  flex-direction: column;
}

.products-modal-ingredients__column--left {
  align-items: flex-start;
}

.products-modal-ingredients__column--right {
  align-items: flex-end;
}

.products-modal-ingredients__text-wrap:not(:last-child) {
  margin-bottom: 11px;
}

.products-modal-ingredients__text {
  font-size: 14px;
  line-height: calc(25 / 14);
}

// FORM

.products-form {
  display: flex;

  flex-direction: column;

  align-items: center;
}

// FORM INPUTS & TEXTAREA

.products-form__list {
  display: flex;

  flex-direction: column;

  align-items: center;

  gap: 16px;

  margin-bottom: 16px;
}

.products-form-field {
  position: relative;
}

.products-form-field__input {
  width: 240px;
  height: 42px;

  border: 1px solid getColor('bg-color');
  border-radius: 10px;

  background-color: rgba(248, 210, 78, 0.1);

  outline: none;

  line-height: calc(17 / 12);
  font-size: 12px;

  padding: 11px 10px;

  transition: border-color 250ms $timing-function;

  cursor: pointer;

  @media screen and (min-width: 768px) {
    width: 368px;
    height: 42px;

    padding: 11px 16px;

    font-size: 14px;

    line-height: calc(20 / 14);
  }
}

.products-form-field__input::placeholder {
  color: transparent;
}

.products-form-field__label {
  position: absolute;

  top: 11px;
  left: 10px;

  font-size: 14px;

  line-height: calc(19.6 / 12);

  color: getColor('primary-text');

  pointer-events: none;

  @media screen and (min-width: 768px) {
    top: 11px;
    left: 16px;

    font-size: 14px;

    line-height: calc(19.6 / 14);
  }
}

.products-form-field__input:focus:required:invalid {
  border: 1px solid getColor('red');
  background-color: rgba(255, 0, 0, 0.1);
}

.products-form-field__input:required:invalid
  + .products-form-field__label:after {
  content: '*';
  position: absolute;

  top: 0;
  right: -7px;

  color: getColor('red');
}

.products-form-field__input:focus + .products-form-field__label,
.products-form-field__input:not(:placeholder-shown)
  + .products-form-field__label {
  font-size: 12px;
  line-height: calc(17 / 12);

  transform: translateY(-27px);

  transition: transform 250ms $timing-function;

  @media screen and (min-width: 768px) {
    transform: translateY(-29px);

    font-size: 14px;

    line-height: calc(20 / 14);
  }
}

.products-form-textarea {
  position: relative;
  margin-bottom: 24px;

  @media screen and (min-width: 768px) {
    margin-bottom: 32px;
  }
}

.products-form-textarea__field {
  display: block;
  border: 1px solid getColor('bg-color');
  border-radius: 10px;
  background-color: rgba(248, 210, 78, 0.1);
  outline: none;
  width: 240px;
  height: 84px;

  font-size: 12px;
  padding: 11px 10px;

  resize: none;

  outline: none;

  cursor: pointer;

  transition: border-color 250ms $timing-function;

  @media screen and (min-width: 768px) {
    width: 368px;
    height: 84px;

    font-size: 14px;

    line-height: calc(20 / 14);
  }
}

.products-form-textarea__field::placeholder {
  color: transparent;
}

.products-form-textarea__label {
  position: absolute;
  font-size: 14px;

  line-height: calc(19.6 / 12);
  color: getColor('primary-text');

  top: 11px;
  left: 10px;

  pointer-events: none;

  @media screen and (min-width: 768px) {
    top: 11px;
    left: 16px;

    font-size: 14px;

    line-height: calc(19.6 / 14);
  }
}

.products-form-textarea__field:focus + .products-form-textarea__label,
.products-form-textarea__field:not(:placeholder-shown) + .buy-textarea__label {
  font-size: 12px;
  transform: translateY(-27px);
  transition: transform 250ms $timing-function;

  @media screen and (min-width: 768px) {
    transform: translateY(-29px);

    font-size: 14px;

    line-height: calc(20 / 14);
  }
}
