.products {
  padding-top: 60px;
  padding-bottom: 60px;

  background: url('../../src/images/background/backrgound_mob@1x.png');
  background-color: #ffffff;
  background-position: left 537px top -119px;

  @media screen and (min-width: 768px) {
    background: url('../../src/images/background/backrgound_tab@1x.png');
    background-color: #ffffff;
    background-position: left -12px top -115px;
  }

  @media screen and (min-width: 1200px) {
    background: url('../../src/images/background/background_desk@1x.png');
    background-color: #ffffff;
    background-position: left -25px top -245px;
  }
}

.products__title {
  margin-bottom: 148px;

  font-family: $secondary-font;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.27;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: getColor('primary-text');

  @media screen and (min-width: 768px) {
    margin-bottom: 200px;

    font-size: 34px;
    line-height: 1.26;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 303px;

    font-size: 36px;
    line-height: 1.25;
  }

  &--label {
    display: block;
    margin-bottom: 12px;

    font-family: $main-font;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.22;

    text-align: center;
    text-transform: uppercase;

    color: getColor('primary-text');

    @media screen and (min-width: 768px) {
      font-size: 22px;
      line-height: 1.23;
    }

    @media screen and (min-width: 1200px) {
      font-size: 30px;
    }
  }
}

.products__cards {
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.products__item {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  padding: 123px 40px 16px 40px;
  margin-left: auto;
  margin-right: auto;

  width: 280px;
  height: 420px;

  border-radius: 24px;

  text-align: center;

  &:not(:last-child) {
    margin-bottom: 168px;

    @media screen and (min-width: 768px) {
      margin-right: 16px;
      margin-bottom: 0;
    }

    @media screen and (min-width: 1200px) {
      margin-right: 29px;
    }
  }

  @media screen and (min-width: 768px) {
    padding: 108px 26px 12px 26px;
    margin-bottom: 0;

    width: 224px;
    height: 428px;
  }

  @media screen and (min-width: 1200px) {
    padding: 165px 64px 60px 64px;
    margin-bottom: 0;

    width: 370px;
    height: 536px;
  }

  &--green {
    background-color: #aec6a5;

    &::before {
      content: '';
      position: absolute;
      display: block;
      bottom: 76%;
      width: 200px;
      height: 211px;
      border-radius: 50%;

      background-color: #d9d9d9;
      background-image: url('../../src/images/products/img-1_200.png'),
        linear-gradient(
          0deg,
          rgba(156, 190, 143, 0.7),
          rgba(156, 190, 143, 0.7)
        );
      background-size: contain;
      box-shadow: 0px 5.34219px 20.0332px rgba(10, 136, 23, 0.25);
      background-repeat: no-repeat;

      @media screen and (min-device-pixel-ratio: 2),
        screen and (-webkit-min-device-pixel-ratio: 2),
        screen and (-o-min-device-pixel-ratio: 2/1),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background-image: url('../../src/images/products/img-1_400.png'),
          linear-gradient(
            0deg,
            rgba(156, 190, 143, 0.7),
            rgba(156, 190, 143, 0.7)
          );
      }

      @media screen and (min-width: 768px) {
        bottom: 78%;
      }

      @media screen and (min-width: 1200px) {
        width: 302px;
        height: 318px;
        bottom: 75%;

        background-image: url('../../src/images/products/img-1_302.png'),
          linear-gradient(
            0deg,
            rgba(156, 190, 143, 0.7),
            rgba(156, 190, 143, 0.7)
          );
        box-shadow: 0px 8px 30px rgba(10, 136, 23, 0.25);

        @media screen and (min-device-pixel-ratio: 2),
          screen and (-webkit-min-device-pixel-ratio: 2),
          screen and (-o-min-device-pixel-ratio: 2/1),
          screen and (min-resolution: 192dpi),
          screen and (min-resolution: 2dppx) {
          background-image: url('../../src/images/products/img-1_604.png'),
            linear-gradient(
              0deg,
              rgba(156, 190, 143, 0.7),
              rgba(156, 190, 143, 0.7)
            );
        }
      }
    }
  }

  &--yellow {
    background-color: #efd478;

    &::before {
      content: '';
      position: absolute;
      display: block;
      bottom: 76%;
      width: 200px;
      height: 211px;
      border-radius: 50%;

      background-color: #d9d9d9;
      background-image: url('../../src/images/products/img-2_200.png'),
        linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7));
      box-shadow: 0px 5.40397px 20.2649px rgba(153, 114, 23, 0.25);
      background-size: contain;
      background-repeat: no-repeat;

      @media screen and (min-device-pixel-ratio: 2),
        screen and (-webkit-min-device-pixel-ratio: 2),
        screen and (-o-min-device-pixel-ratio: 2/1),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background-image: url('../../src/images/products/img-2_400.png'),
          linear-gradient(
            0deg,
            rgba(248, 210, 78, 0.7),
            rgba(248, 210, 78, 0.7)
          );
        box-shadow: 0px 5.40397px 20.2649px rgba(153, 114, 23, 0.25);
      }

      @media screen and (min-width: 768px) {
        bottom: 78%;
      }

      @media screen and (min-width: 1200px) {
        width: 302px;
        height: 318px;
        bottom: 75%;

        background-image: url('../../src/images/products/img-2_302.png'),
          linear-gradient(
            0deg,
            rgba(248, 210, 78, 0.7),
            rgba(248, 210, 78, 0.7)
          );
        box-shadow: 0px 8px 30px rgba(153, 114, 23, 0.25);

        @media screen and (min-device-pixel-ratio: 2),
          screen and (-webkit-min-device-pixel-ratio: 2),
          screen and (-o-min-device-pixel-ratio: 2/1),
          screen and (min-resolution: 192dpi),
          screen and (min-resolution: 2dppx) {
          background-image: url('../../src/images/products/img-2_604.png'),
            linear-gradient(
              0deg,
              rgba(248, 210, 78, 0.7),
              rgba(248, 210, 78, 0.7)
            );
        }
      }
    }
  }

  &--brown {
    background-color: #d6936d;

    &::before {
      content: '';
      position: absolute;
      display: block;
      bottom: 76%;
      width: 200px;
      height: 211px;
      border-radius: 50%;

      background-color: #d9d9d9;
      background-image: url('../../src/images/products/img-3_200.png'),
        linear-gradient(0deg, rgba(213, 117, 63, 0.7), rgba(213, 117, 63, 0.7));
      box-shadow: 0px 5.41333px 20.3px rgba(0, 0, 0, 0.25);
      background-size: contain;
      background-repeat: no-repeat;

      @media screen and (min-device-pixel-ratio: 2),
        screen and (-webkit-min-device-pixel-ratio: 2),
        screen and (-o-min-device-pixel-ratio: 2/1),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background-image: url('../../src/images/products/img-3_400.png'),
          linear-gradient(
            0deg,
            rgba(213, 117, 63, 0.7),
            rgba(213, 117, 63, 0.7)
          );
      }

      @media screen and (min-width: 768px) {
        bottom: 78%;
      }

      @media screen and (min-width: 1200px) {
        width: 302px;
        height: 318px;
        bottom: 75%;

        background-image: url('../../src/images/products/img-3_302.png'),
          linear-gradient(
            0deg,
            rgba(213, 117, 63, 0.7),
            rgba(213, 117, 63, 0.7)
          );
        box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.25);

        @media screen and (min-device-pixel-ratio: 2),
          screen and (-webkit-min-device-pixel-ratio: 2),
          screen and (-o-min-device-pixel-ratio: 2/1),
          screen and (min-resolution: 192dpi),
          screen and (min-resolution: 2dppx) {
          background-image: url('../../src/images/products/img-3_604.png'),
            linear-gradient(
              0deg,
              rgba(213, 117, 63, 0.7),
              rgba(213, 117, 63, 0.7)
            );
        }
      }
    }
  }
}

.products__cards--title {
  margin-bottom: 40px;

  font-family: $main-font;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: getColor('primary-text');

  @media screen and (min-width: 768px) {
    font-size: 22px;
    line-height: 1.23;
  }

  @media screen and (min-width: 1200px) {
    font-size: 30px;
  }
}

.products__cards--description {
  font-family: $main-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.76;
  letter-spacing: 0.04em;

  color: getColor('primary-text');

  @media screen and (min-width: 1200px) {
    font-size: 16px;
  }
}

.button__products {
  background-color: inherit;
  border: none;

  padding: 0;
  margin-top: auto;

  cursor: pointer;

  &:hover .arrow-black--to-green,
  &:focus .arrow-black--to-green {
    fill: getColor('btn-green');
  }

  &:hover .arrow-black--to-yellow,
  &:focus .arrow-black--to-yellow {
    fill: getColor('btn-yellow');
  }

  &:hover .arrow-black--to-brown,
  &:focus .arrow-black--to-brown {
    fill: getColor('btn-brown');
  }

  .products__item:hover & {
    animation: pulse 1s infinite;
    animation-timing-function: linear;

    @keyframes pulse {
      0% {
        transform: scale(1);
      }
      50% {
        transform: scale(1.1);
      }
      100% {
        transform: scale(1);
      }
    }
  }
}

.arrow {
  &-black {
    color: getColor('primary-text');
    fill: getColor('primary-text');
    @include transition(fill);
  }
}
