.video-about-modal {
  position: absolute;

  display: flex;

  flex-direction: column;

  align-items: center;

  left: 50%;

  width: 280px;
  height: 459px;

  background-color: getColor('secondary-text');

  border: 2px solid getColor('accent');

  border-radius: 10px;

  transform: translateX(-50%) scale(1);
  transition: transform 400ms $timing-function;

  padding: 28px 30px 28px 29px;

  @media screen and (min-width: 768px) {
    top: 50%;
    left: 50%;

    transform: translate(-50% -50%) scale(1);

    width: 568px;
    height: 449px;

    padding: 32px 60px;
  }
}

.video-about-modal__title {
  font-family: $secondary-font;
  color: getColor('primary-text');

  line-height: calc(24 / 16);

  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    font-size: 20px;
    line-height: calc(28 / 20);
    margin-bottom: 24px;
  }
}

.video-about-modal__iframe{}


